body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}

header {
  background: #111;
  color: white;
  padding: 40px 20px;
}

section {
  padding: 40px 20px;
}

.project {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
